.primary-button {
    background-color: #1b9480;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 10px;
    cursor: pointer;
}