.table-cell {
    padding: 12px 15px;
}

.table-row {
    background-color: white;
    border-bottom: 1px solid #dddddd;
}

.table-row:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-row:last-of-type {
    border-bottom: 2px solid #1b9480;
}